db.sqlite3
*.py[cod]
app/static
app/client
app/media
.env
env
__pycache__
db-data
/db-data
db-data/*
redis-data
.idea
.DS_Store
.vscode/
/app/backend/static/
!/app/files/ignore
!/app/fixes/ignore
!/app/jobs/ignore
!/app/reports/ignore
/app/files/*.xml
/app/fixes/*.yml
/app/jobs/*.yml
/app/fixes/*.sh
/app/listener/*.xml
